@use "../abstracts/"as *;

.l-press {
    width    : 100%;
    display  : flex;
    flex-wrap: wrap;
    position : relative;
    z-index  : 1;

    .l-container {
        flex-direction: column;
    }

    .c-title {
        width         : max-content;
        margin        : 0 auto 30px;
        text-align    : center;
        text-transform: uppercase;
        color         : $color-green;

        @include pc {
            font-size: 30px;
        }

        @include sp {
            font-size: 20px;
        }
    }
}

.c-press {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    width          : 100%;
    gap            : 100px;

    .item {
        width    : auto;
        height   : auto;
        display  : flex;
        flex-wrap: wrap;

        img {
            width          : auto;
            height         : 50px;
            object-fit     : contain;
            object-position: center;
        }
    }

    .swiper {
        width    : max-content;
        max-width: 100%;
        position : relative;

        .swiper-slide {
            width : max-content;
            height: auto;
            margin: 0 50px;
        }
    }

    @media (max-width: 991px) {
        width     : calc(100% + 20px);
        margin    : -10px;
        column-gap: 30px;
        row-gap   : 20px;

        .swiper {
            padding: 10px;

            .swiper-slide {
                margin: 0 15px;
            }
        }

        .item {
            img {
                height: 50px;
            }
        }
    }
}