@use "../abstracts/"as *;

.l-products {
    width    : 100%;
    height   : max-content;
    display  : flex;
    flex-wrap: wrap;

    .c-title {
        width         : max-content;
        margin        : 0 auto 30px;
        text-align    : center;
        text-transform: uppercase;
        color         : $color-green;

        @include pc {
            font-size: 30px;
        }

        @include sp {
            font-size: 20px;
        }
    }

    .c-subtitle {
        text-align: center;
        color     : $color-green;

        @include pc {
            font-size: 24px;
        }

        @include sp {
            font-size: 18px;
        }
    }

    .c-cols {
        row-gap: 30px;
    }

    @media (max-width: 991px) {
        .c-cols {
            row-gap: 25px;
        }
    }
}

.c-product {
    width    : 100%;
    display  : flex;
    flex-wrap: wrap;

    .item {
        max-width     : 285px;
        height        : auto;
        display       : flex;
        flex-wrap     : wrap;
        flex-direction: column;
        padding       : 10px 10px 20px;
        border-radius : 10px;
        background    : #ffffff;
        box-shadow    :
            rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
            rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        font-family: Arial;
        transition : 0.5s;
        position   : relative;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
        }

        .c-figure {
            width        : 100%;
            height       : 265px;
            margin-bottom: 15px;
            border-radius: 5px;
            background   : #dddddd;
            box-shadow   : rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
            overflow     : hidden;

            img {
                width: 100%;
            }
        }

        h3 {
            display           : -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color             : #4f4f4f;
            font-size         : 14px;
            font-weight       : 300;
            line-height       : 1.4;
            font-family       : Arial;
            overflow          : hidden;
            word-break        : keep-all;
            overflow-wrap     : break-word;
            white-space       : normal;
        }

        .item-info {
            width        : 100%;
            display      : flex;
            flex-wrap    : wrap;
            flex         : 1;
            align-content: space-between;
        }

        .item-prices {
            height        : max-content;
            display       : flex;
            flex-direction: row;
            column-gap    : 10px;
            margin-top    : 10px;
            color         : #4f4f4f;
            font-size     : 12px;
            line-height   : 1.4;
        }

        .normal-price,
        .price-out-of-stock,
        .price-contact,
        .max-price,
        .min-price {
            font-size  : 14px;
            font-weight: 700;
            line-height: 1.4;
        }

        .old-price {
            margin-top     : 2px;
            text-decoration: line-through;
        }

        .sale-price {
            font-size  : 14px;
            font-weight: 700;
            line-height: 1.4;
            color      : #d70018;
        }

        .percent {
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding        : 2px 5px;
            border-radius  : 5px;
            background     : #d70018;
            font-size      : 10px;
            font-weight    : 700;
            color          : #ffffff;
        }

        .sticker-percent {
            width          : 40px;
            height         : 40px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            border-radius  : 20px;
            background     : #d70018;
            font-size      : 12px;
            font-weight    : 700;
            color          : #ffffff;
            position       : absolute;
            top            : -10px;
            right          : -10px;
        }
    }

    @media (max-width: 991px) {
        .item {
            max-width: vw-sp(156);
            margin   : 0;
            padding  : 10px 10px 15px;

            &:not(:last-child) {
                margin-right: 10px;
            }

            .c-figure {
                height       : vw-sp(136);
                margin-bottom: 15px;
            }

            h3 {
                font-size: 12px;
            }

            .item-prices {
                flex-wrap: wrap;
            }

            .sale-price {
                width        : 100%;
                order        : 1;
                margin-top   : 5px;
                margin-bottom: 0;
            }
        }
    }
}