.c-subtitle {
    width      : max-content;
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
    margin     : 0 0 20px 0;
    font-size  : 24px;
    font-weight: 700;

    .c-icon {
        width        : 18px;
        height       : 18px;
        margin-left  : 5px;
    }

    @media (max-width: 991px) {
        margin-bottom: 15px;
        font-size    : 18px;

        .c-icon {
            width        : 15px;
            height       : 15px;
        }
    }
}